<body>
<div class="container" id="div1">

    <div class="card">
        <h2>Welcome Admin</h2>
        <div class="inputs">
            <label>UserName</label>
            <input type="text" class="form-control" [(ngModel)]="userName">
        </div>
        <div class="inputs">
            <label>Password</label>
            <input type="password" class="form-control" [(ngModel)]="password">
        </div>
        
        <a class="btn-login" (click)="adminLogin()">Log In</a>
    </div>
</div>
</body>